@tailwind base;
@tailwind components;
@tailwind utilities;


.body {
    /* background-color: rgb(236, 231, 240); */

}

.titleLogo {
    font-family: 'Lobster', cursive;
    color: rgb(54, 54, 54);
    font-size: 2.25rem/* 36px */;
    line-height: 2.5rem/* 40px */;
}
.text {
    font-family: 'Catamaran', sans-serif;
    /* font-family: 'Lobster', cursive; */
    color: rgb(92, 92, 92);
    font-weight: 800;

}
.button {
    font-family: 'Catamaran', sans-serif;
    /* font-family: 'Lobster', cursive; */
    color: rgb(214, 214, 214);
}